/* Denis Murray */
/* Design based on Mobile First Development principles */
#about-view {
    font-size: large;
}

.about-subtext {
    text-align: center;
}

.about-subheading {
    padding: 4vh 0 2vh 0;
    text-align: center;
    
}

.about-heading {
    padding: 0vh 0 3vh 0;
    background-color: #f5f5f5;
    
}

#showcase {
    background: url(../images/about2\(smaller\).png) no-repeat center center/cover;
    height: 70vh;
    display: flex;
}

.about-container {
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about-container h3 {
    padding: 0 6vw 0 6vw;
}

.about-container h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;;
    margin-bottom: 40px;
    border-bottom: 2px solid #B99855;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about-text {
    color: white;
    text-align: center;
}

#about-us-section {
    /* border: 1px red solid; */
    height: 250vh;
}

#about-us-section .blurb-pic {
    background: url(../images/dumbbell.jpg) no-repeat center center/cover;
    /* height: 55vh; */
}

.opening-maps-section {
    /* border: 1px blue solid; */
    height: 120vh;
}

/* Components within About */
/* AboutUsBlurb.js */
.blurb-text {
    text-align: center;
    font-size: x-large;
    padding: 0 5vw 0 5vw;
}

.blurb-icon {
    display: none;
}
/* 
.blurb-icon {
    font-size: 20px;
    display: block;

} */

/* OpeningHours.js */
#opening-hours-box {
    background-color: #3B3838;
    text-align: center;
    /* height: 60vh; */
}

#opening-hours-box ul {
    padding-left: 0;
}

#opening-hours {
    color: white;
    text-align: center;
}


#opening-hours li {
    font-size: larger;
    padding: 1vh 0 0 0; 
}

/* Map.js */
#map {
    height: 60vh;
    width: 100%;
}

.icon-text {
    font-size: x-large;
    text-align: center;
    font-weight: 900;
    color: black;
}

.icon-red {
    color: red;
    font-size: 60px;
}

/* Height for devices larger than 768px (MEDIUM BREAKPOINT) */
@media (min-width: 768px) {  
    #about-us-section {
        /* border: 1px red solid; */
        height: 180vh;
    }

    .opening-maps-section {
        /* border: 1px blue solid; */
        height: 145vh;
    }

    #map {
        height: 80vh;
     
    }

    #about-us-section .blurb-pic {
        /* border: 1px blue solid; */
        background: url(../images/dumbbell.jpg) no-repeat center center/cover;   
        height: auto; 
    }
}

/* Height for devices larger than 992px (LARGE BREAKPOINT) */
@media (min-width: 992px) {
   
    #showcase {
        height: 75vh;
        font-size: xx-large;
      
    }    

    .about-container h1 {
        font-size: 4rem;
    }

    #about-us-section {
        /* border: 1px red solid; */
        height: 130vh;
    }

    .opening-maps-section {
        /* border: 1px blue solid; */
        height: 82vh;
    }

    #map {
        height: 80vh;
     
    }

    #about-us-section .blurb-pic {
        /* border: 1px blue solid; */
        background: url(../images/dumbbell.jpg) no-repeat center center/cover;   
        height: auto; 
    }

}

@media (min-width: 1400px) {
    #about-us-section {
        /* border: 1px red solid; */
        height: 125vh;
    }

    .opening-maps-section {
        height: 85vh;
    }

    #map {
        height: 80vh;
     
    }

    .blurb-text h2 {
        padding: 8vh 0 4vh 0;
    }

    .blurb-icon {
        font-size: 150px;
        display: block;
    }
}

/* Height for devices larger than 2000px (XX-LARGE BREAKPOINT) */
@media (min-width: 2000px) {
    #about-us-section {
        /* border: 1px red solid; */
        height: 75vh;
    }

    .opening-maps-section {
        height: 50vh;
    }

    #map {
        height: 50vh;
     
    }

    .blurb-text h2 {
        padding: 8vh 0 4vh 0;
    }

    .blurb-icon {
        font-size: 150px;
        display: block;
    }
}