.fitness-hero {
    background-image: url('../images/fitness.jpg');
    background-size: cover;
}

.fitness-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fitness-container h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 2px solid #B99855;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fitness-text {
    color: white;
    text-align: center;
}

/* Denis Murray */
.exercises-container {
    /* width: 90%; */
}

.exercises-container h2 {
    margin: 5rem 0;
}

.secondary-text {
    color: black;
    text-align: center;
}

.exercise-section {
    /* width: 90%; */
    background-color: lightgreen ;
}

/* .exercise-buttons {
    margin: 5rem;
} */


/* Media Queries */
/* Mobile by default followed by tablet, followed by Desktop */
@media (min-width: 1px){
    
}

/* Large Phone to Tablet */
@media (min-width: 768px){
   
}

/* Desktop */
@media (min-width: 1200px){

    
}

@media (min-width: 1400px) {
    
}